# Keil / MDK-ARM
**/Listings/
**/Objects/
**/DebugConfig/
**/*.uvguix.*
**/*.uvoptx
**/*.uvgui
**/*.scvd
**/*.dep
**/JLinkLog.txt

# STM32CubeMX / CubeIDE
**/*.user
**/build/

# MATLAB
Matlab/*.asv
Matlab/*.m~*

# OS / editor
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/
*.swp
*~
